<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Slurpy</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_static}}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{url_static}}/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{url_static}}/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{url_static}}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Slurpy CSS -->
    <link href="{{url_static}}/slurpy/css/charts.css" rel="stylesheet" type="text/css">
    <link href="{{url_static}}/slurpy/css/tables.css" rel="stylesheet" type="text/css">

    <!-- Load javascript files -->
    <script type="text/javascript" src="{{url_static}}/slurpy/js/d3.v4.min.js"></script>
    <script type="text/javascript" src="{{url_static}}/slurpy/js/charts.js"></script>
    <script type="text/javascript" src="{{url_static}}/slurpy/js/charts-pdu-panel.js"></script>
    <script type="text/javascript" src="{{url_static}}/slurpy/js/charts-oid-current.js"></script>
    <script type="text/javascript" src="{{url_static}}/slurpy/js/charts-datacenter.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="{{url_home}}/"><img src="{{url_static}}/images/colovore-logo.png"></a>

            </div>

            <ul class="nav navbar-top-links navbar-left">

                <li>
                    <a href="{{url_home}}/"><i class="fa fa-home fa-fw"></i> SLURPY Home</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                         Datacenters <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
			{{dc_menu|safe}}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

            </ul>

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            {% block body %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{url_static}}/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_static}}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{url_static}}/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{url_static}}/dist/js/sb-admin-2.js"></script>

</body>

</html>
