#############################################
# These additional PIP3 packages are required
#############################################

# Miscellaneous packages
PyYAML

# Database packages
PyMySQL
SQLAlchemy

# Mathematical libraries
numpy
pandas
sklearn

# Helps with multiprocessing errors
tblib

# Tensorflow
tensorflow
tensorflow_addons
hyperopt

# Plotting
matplotlib
