
tr.other td {
  background-color: #eeeeee;
  color: black;
}

tr.pdu-feed-p td {
  background-color: #66cc66;
  color: black;
}

tr.pdu-feed-a td {
  background-color: #66cccc;
  color: black;
}

tr.panel-1 {
  border-left: 1px solid black;
}

tr.panel-2 {
  border-right: 1px solid black;
}

tr.panel-3 {
  border-left: 1px solid black;
}

tr.panel-4 {
  border-right: 1px solid black;
}

table.cabinets tr {
  border: 1px solid white;
}

table.cabinets td {
  padding: 5px;
}

