#############################################################################
# Track images in this directory
#############################################################################

!*.gif
!*.jpeg
!*.jpg
!*.png
