
.axis--x path {
  #display: none;
  stroke: #d8d8d8;
  color: #d8d8d8;
}

.axis--y path {
  #display: none;
  stroke: #d8d8d8;
  color: #d8d8d8;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart-description {
  float: left;
}

.download-link {
  float: right;
}

